{
    "Dir": "./queue/",
    "ErrorChat": 99999999,
    "SleepSeconds": 120,
    "Data": [
        {
            "Urls": [
                "http://lineageos.org/feed.xml",
                "https://twrp.me/feed.xml"
            ],
            "Chat": -1111111111111
        }
    ]
}
